@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", serif;

  
}
 *::selection{
  color: var(--SecColor1);
  background-color: #cacacab0;
  outline: 2px solid red;
  border: 2px solid red;
  font-weight: 800;
} 

img{
  -webkit-user-select: none;
  user-select: none;
}


html 
{
  /* scrollbar-gutter: stable; */
overflow-x: hidden;
background-color: #ffffff;
width: 100vw;
height: fit-content;
}

.body{
  /* height: 100vh; */
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  /* overflow: scroll; */
}

a
{
  all:unset
}
img{
  overflow: hidden;
}